<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Hotel Pacific Reef{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header class="topbar">
  <div class="topbar__inner container">
    <div class="brand">Hotel Pacific Reef</div>
    <nav class="nav">
      <a href="{% url 'home' %}" class="nav__link">Home</a>
      <a href="#" class="nav__link">Catálogo</a>
      <a href="#" class="nav__link">Registro huésped</a>
    </nav>
  </div>
</header>


  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">© 2025 Hotel Pacific Reef</footer>
</body>
</html>
